:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: #ffffff;
}

.page-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}